<header>

<div class="left-side">

	<div class="title"> 
		{{@blog.title}}
	</div>
	<div class="description"> 
		{{@blog.description}}		
	</div>

</div>

<div class="right-side">
	<div class="logo">
		
	</div>
</div>

</header>